iframe{
			width:1303px;
			height:730px;
}

body{
		font-family: Helvetica;
		background-color: #292828;
		display: flex;
		margin: 0;
		padding: 0;
		height: 100vh;
}

.content{
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#video-container{
	position:relative;
	display: flex;
}

#videoel {
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	-o-transform : scaleX(-1);
	-webkit-transform : scaleX(-1);
	transform : scaleX(-1);
	-ms-filter : fliph; /*IE*/
	filter : fliph; /*IE*/
}

#filtres-container{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
}

.filtre{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border:none;
	cursor: pointer;
}

.filtre img{
	width: 70%;
}

.go{
	text-decoration: none;
	color: white;
	background-color: #0084bf;
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 15px;
}