#video {
		margin-left: -8px;
		margin-top: -8px;
		position:absolute;
		display: none;

}
iframe{
			width:1303px;
			height:730px;
}

body{
		background-color: #292828;
}

.box {	/*droite*/
		margin-top: -8px;
		height:730px;
		width:233px;
		margin-left: 1295px;
		background-color: pink;
		position: absolute;
		display: block;
}
.box2 { /*gauche*/
		margin-top: -8px;
		height:733px;
		width:233px;
		margin-left: -8px;
		background-color: green;
		position: absolute;
		display: block;
}
.box3 { /*bas*/
		margin-top: 729px;
		height:233px;
		width:1536px;
		margin-left: -8px;
		background-color: blue;
		position: fixed;
		display: block;
}
.box4 { /*haut*/
		margin-top: -8px;
		height:233px;
		width:1536px;
		margin-left: -8px;
		background-color: red;
		position: fixed;
		display: block;
}